<a id="wechatPay<%= payment_method.id %>" payment_method_id="<%= payment_method.id %>" ><img src="<%= payment_method.preferences[:iconUrl] %>" width="42" /></a>
<script>
    var id = "<%= payment_method.id %>";
    // 当微信内置浏览器完成内部初始化后会触发WeixinJSBridgeReady事件。
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        //公众号支付
        $('#wechatPay' + id).click(function(e){
            $.ajax({
                url: '/alipay/checkout.json?payment_method_id=' + $(this).attr('payment_method_id'),
                dataType: 'JSON',
                type: 'GET',
                success: function(response){
                    if(response && response.appId){
                        WeixinJSBridge.invoke('getBrandWCPayRequest', response, function(res){
                            if(res.err_msg == "get_brand_wcpay_request:ok" ) {
                                window.location.href = '/orders/'+ response.orderNumber;
                            }
                            //使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok，但并不保证它绝对可靠。
                            //因此微信团队建议，当收到ok返回时，向商户后台询问是否收到交易成功的通知，若收到通知，前端展示交易成功的界面；若此时未收到通知，商户后台主动调用查询订单接口，查询订单的当前状态，并反馈给前端展示相应的界面。
                        });
                    }
                },
                error: function(err){
                    console.log(err);
                }
            });


        });

        WeixinJSBridge.log('yo~ ready.');

    }, false)

 </script>