<div id='wechatpay-warning' style="display:none">
  <strong><%= Spree.t('no_payment_via_admin_backend', :scope => 'wechatpay') %></strong>
</div>
<script>
    SpreeWechatPay.paymentMethodID = "<%= payment_method.id %>"
</script>